Flask==2.2.5
Flask-SQLAlchemy==3.0.3
Flask-Migrate==2.6.0
Flask-Cors==4.0.1
psycopg2==2.9.5
itsdangerous==1.1.0
Werkzeug~=3.0.3
Jinja2<3.2
alembic~=1.8.1
gunicorn==22.0.0
dependency-injector==4.40.0
python-dotenv==0.21.0
marshmallow==3.5.0
